// e_com

#my_project3{
    box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
    background-color: $gradient_dark;
}

#profi_project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    background: url("../images/profi.png"), radial-gradient(circle at top center,  $gradient_light 10%, $gradient_dark 78%);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 20px;
    min-height: 450px;
    .profi_project_header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .my_logo{
            img{
                width: 40px;
                height: 40px;
            }
        }
        .project_nav{
            text-align: right;
            small{
                display: flex;
                a{
                    color: $grey;
                    transition: .5s;
                    font-size: 16px;
                    margin-left: 30px;
                    font-weight: 300;
                    letter-spacing: 0.6px;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }
    .profi_project_main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 800px;
        margin: auto;
        margin-top: 20px;
        .main_gif{
            margin-right: 80px;
            flex:1;
            #profi_gif{
                width: 100%;
                height: auto;
            }
        }
        .main_description{
            flex:1;
            #profi_project_title{
                text-align: center;
                margin-bottom: 20px;
                .title{
                    font-family: var(--second_font);
                    margin: 0;
                    padding:0;
                    font-size: 4rem;
                    line-height: 1;
                    opacity: .8;
                    cursor: pointer; 
                    color: $grey;
                    transition: .5s;
                    &:hover{
                        color: $white;
                    }
                }
            }
            #profi_project_text{
                text-align: center;
                max-width: 600px;
                margin: 0 auto;
                p{
                    color: $white;
                    letter-spacing: 0.6px;
                    font-weight: 200;
                    font-size: 1rem;
                    text-align: justify;
                    line-height: 1.4;
                }
            }
        }
    }

    #profi_project_footer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 0;
        .mybutton{
            min-width: 240px;
            padding: 16px 20px;
            text-align: center;
            border: 1px solid $grey;
            color: $grey;
            transition: 0.5s;
            margin: 0;
            letter-spacing: 1px;
            &:hover{
                background-color: $dark_grey;
                color: $white;
                cursor: pointer;
            }
        }
        
    }
}

#profi_hidden_technologies{
    display: none;
    height: 100%;
    opacity: 0;
    animation: fadeUp 1s forwards;
    animation-delay: .1s;
    padding: 10px 0;
    .tech_logo_container{
        text-align: center;
        .tech_logo{
            display: inline-block;
            margin: 5px;
            .logo_description{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    width: 34px;
                    height: 34px;
                }
                small{
                    margin-top: 5px;
                    font-size: 10px;
                    width: 54px;
                    color: $white;
                }
            }
        }
    }
}



