:root {
  --second_font: 'Ramabhadra', sans-serif;
  --main_font: 'Work Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h2, p {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.page_container {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #a5a5a5, #2a2b2e 50%);
}

.page_container .page {
  max-width: 1040px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

header {
  opacity: 0;
  -webkit-animation: fadeUp 1s forwards;
          animation: fadeUp 1s forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 80px;
}

header .my_title {
  padding-left: 4px;
  margin-bottom: 5px;
}

header .my_title p {
  font-family: var(--main_font);
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1.2px;
}

header .my_name {
  margin-top: -5px;
  margin-bottom: -5px;
}

header .my_name h1 {
  font-family: var(--second_font);
  font-size: 60.96px;
  letter-spacing: 2px;
  color: #ffffff;
}

header .my_menu {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
  margin-top: 5px;
}

header .my_menu a {
  font-family: var(--main_font);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #adadb1;
  -webkit-transition: .5s;
  transition: .5s;
  margin-left: 20px;
}

header .my_menu a:hover {
  color: #ffffff;
}

#active_page {
  color: #ffffff;
}

/* section subheader */
.subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.subheader .subheader_left p {
  font-family: var(--main_font);
  font-size: 20px;
  font-weight: 300;
  color: #adadb1;
  margin-bottom: 5px;
}

.subheader .subheader_left h2 {
  font-family: var(--second_font);
  font-size: 40px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-top: -4px;
  margin-bottom: 5px;
}

.subheader .subheader_right img {
  width: 70px;
  height: 70px;
  opacity: 0;
  -webkit-animation: spin 1s forwards;
          animation: spin 1s forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

#my_project1 {
  -webkit-box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
  background-color: #18181a;
  margin-bottom: 40px;
}

#int_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background: url("../images/int.png"), radial-gradient(circle at top center, #3d3e42 10%, #18181a 78%);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  padding: 20px;
  min-height: 450px;
}

#int_project .int_project_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#int_project .int_project_header .my_logo img {
  width: 40px;
  height: 40px;
}

#int_project .int_project_header .project_nav {
  text-align: right;
}

#int_project .int_project_header .project_nav small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#int_project .int_project_header .project_nav small a {
  color: #adadb1;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 16px;
  margin-left: 30px;
  font-weight: 300;
  letter-spacing: 0.6px;
}

#int_project .int_project_header .project_nav small a:hover {
  color: #ffffff;
}

#int_project .int_project_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

#int_project .int_project_main .main_gif {
  margin-right: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#int_project .int_project_main .main_gif #int_gif {
  width: 100%;
  height: auto;
}

#int_project .int_project_main .main_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#int_project .int_project_main .main_description #int_project_title {
  text-align: center;
  margin-bottom: 20px;
}

#int_project .int_project_main .main_description #int_project_title .title {
  font-family: var(--second_font);
  margin: 0;
  padding: 0;
  font-size: 4rem;
  line-height: 1;
  opacity: .8;
  cursor: pointer;
  color: #adadb1;
  -webkit-transition: .5s;
  transition: .5s;
}

#int_project .int_project_main .main_description #int_project_title .title:hover {
  color: #ffffff;
}

#int_project .int_project_main .main_description #int_project_text {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#int_project .int_project_main .main_description #int_project_text p {
  color: #ffffff;
  letter-spacing: 0.6px;
  font-weight: 200;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.4;
}

#int_project #int_project_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 0;
}

#int_project #int_project_footer .mybutton {
  min-width: 240px;
  padding: 16px 20px;
  text-align: center;
  border: 1px solid #adadb1;
  color: #adadb1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;
  letter-spacing: 1px;
}

#int_project #int_project_footer .mybutton:hover {
  background-color: #515151;
  color: #ffffff;
  cursor: pointer;
}

#int_hidden_technologies {
  display: none;
  height: 100%;
  opacity: 0;
  -webkit-animation: fadeUp 1s forwards;
          animation: fadeUp 1s forwards;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  padding: 10px 0;
}

#int_hidden_technologies .tech_logo_container {
  text-align: center;
}

#int_hidden_technologies .tech_logo_container .tech_logo {
  display: inline-block;
  margin: 5px;
}

#int_hidden_technologies .tech_logo_container .tech_logo .logo_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#int_hidden_technologies .tech_logo_container .tech_logo .logo_description img {
  width: 34px;
  height: 34px;
}

#int_hidden_technologies .tech_logo_container .tech_logo .logo_description small {
  margin-top: 5px;
  font-size: 10px;
  width: 54px;
  color: #ffffff;
}

#my_project2 {
  -webkit-box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
  background-color: #18181a;
  margin-bottom: 40px;
}

#e_com_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background: url("../images/couple_bw.png"), radial-gradient(circle at top center, #3d3e42 10%, #18181a 78%);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  padding: 20px;
  min-height: 450px;
}

#e_com_project .e_com_project_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#e_com_project .e_com_project_header .my_logo img {
  width: 40px;
  height: 40px;
}

#e_com_project .e_com_project_header .project_nav {
  text-align: right;
}

#e_com_project .e_com_project_header .project_nav small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#e_com_project .e_com_project_header .project_nav small a {
  color: #adadb1;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 16px;
  margin-left: 30px;
  font-weight: 300;
  letter-spacing: 0.6px;
}

#e_com_project .e_com_project_header .project_nav small a:hover {
  color: #ffffff;
}

#e_com_project .e_com_project_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

#e_com_project .e_com_project_main .main_gif {
  margin-right: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#e_com_project .e_com_project_main .main_gif #e_com_gif {
  width: 100%;
  height: auto;
}

#e_com_project .e_com_project_main .main_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#e_com_project .e_com_project_main .main_description #e_com_project_title {
  text-align: center;
  margin-bottom: 20px;
}

#e_com_project .e_com_project_main .main_description #e_com_project_title .title {
  font-family: var(--second_font);
  margin: 0;
  padding: 0;
  font-size: 4rem;
  line-height: 1;
  opacity: .8;
  cursor: pointer;
  color: #adadb1;
  -webkit-transition: .5s;
  transition: .5s;
}

#e_com_project .e_com_project_main .main_description #e_com_project_title .title:hover {
  color: #ffffff;
}

#e_com_project .e_com_project_main .main_description #e_com_project_text {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#e_com_project .e_com_project_main .main_description #e_com_project_text p {
  color: #ffffff;
  letter-spacing: 0.6px;
  font-weight: 200;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.4;
}

#e_com_project #e_com_project_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 0;
}

#e_com_project #e_com_project_footer .mybutton {
  min-width: 240px;
  padding: 16px 20px;
  text-align: center;
  border: 1px solid #adadb1;
  color: #adadb1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;
  letter-spacing: 1px;
}

#e_com_project #e_com_project_footer .mybutton:hover {
  background-color: #515151;
  color: #ffffff;
  cursor: pointer;
}

#e_com_hidden_technologies {
  display: none;
  height: 100%;
  opacity: 0;
  -webkit-animation: fadeUp 1s forwards;
          animation: fadeUp 1s forwards;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  padding: 10px 0;
}

#e_com_hidden_technologies .tech_logo_container {
  text-align: center;
}

#e_com_hidden_technologies .tech_logo_container .tech_logo {
  display: inline-block;
  margin: 5px;
}

#e_com_hidden_technologies .tech_logo_container .tech_logo .logo_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#e_com_hidden_technologies .tech_logo_container .tech_logo .logo_description img {
  width: 34px;
  height: 34px;
}

#e_com_hidden_technologies .tech_logo_container .tech_logo .logo_description small {
  margin-top: 5px;
  font-size: 10px;
  width: 54px;
  color: #ffffff;
}

#my_project3 {
  -webkit-box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
  background-color: #18181a;
}

#profi_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background: url("../images/profi.png"), radial-gradient(circle at top center, #3d3e42 10%, #18181a 78%);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  padding: 20px;
  min-height: 450px;
}

#profi_project .profi_project_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#profi_project .profi_project_header .my_logo img {
  width: 40px;
  height: 40px;
}

#profi_project .profi_project_header .project_nav {
  text-align: right;
}

#profi_project .profi_project_header .project_nav small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#profi_project .profi_project_header .project_nav small a {
  color: #adadb1;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 16px;
  margin-left: 30px;
  font-weight: 300;
  letter-spacing: 0.6px;
}

#profi_project .profi_project_header .project_nav small a:hover {
  color: #ffffff;
}

#profi_project .profi_project_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

#profi_project .profi_project_main .main_gif {
  margin-right: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#profi_project .profi_project_main .main_gif #profi_gif {
  width: 100%;
  height: auto;
}

#profi_project .profi_project_main .main_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#profi_project .profi_project_main .main_description #profi_project_title {
  text-align: center;
  margin-bottom: 20px;
}

#profi_project .profi_project_main .main_description #profi_project_title .title {
  font-family: var(--second_font);
  margin: 0;
  padding: 0;
  font-size: 4rem;
  line-height: 1;
  opacity: .8;
  cursor: pointer;
  color: #adadb1;
  -webkit-transition: .5s;
  transition: .5s;
}

#profi_project .profi_project_main .main_description #profi_project_title .title:hover {
  color: #ffffff;
}

#profi_project .profi_project_main .main_description #profi_project_text {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#profi_project .profi_project_main .main_description #profi_project_text p {
  color: #ffffff;
  letter-spacing: 0.6px;
  font-weight: 200;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.4;
}

#profi_project #profi_project_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 0;
}

#profi_project #profi_project_footer .mybutton {
  min-width: 240px;
  padding: 16px 20px;
  text-align: center;
  border: 1px solid #adadb1;
  color: #adadb1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;
  letter-spacing: 1px;
}

#profi_project #profi_project_footer .mybutton:hover {
  background-color: #515151;
  color: #ffffff;
  cursor: pointer;
}

#profi_hidden_technologies {
  display: none;
  height: 100%;
  opacity: 0;
  -webkit-animation: fadeUp 1s forwards;
          animation: fadeUp 1s forwards;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  padding: 10px 0;
}

#profi_hidden_technologies .tech_logo_container {
  text-align: center;
}

#profi_hidden_technologies .tech_logo_container .tech_logo {
  display: inline-block;
  margin: 5px;
}

#profi_hidden_technologies .tech_logo_container .tech_logo .logo_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profi_hidden_technologies .tech_logo_container .tech_logo .logo_description img {
  width: 34px;
  height: 34px;
}

#profi_hidden_technologies .tech_logo_container .tech_logo .logo_description small {
  margin-top: 5px;
  font-size: 10px;
  width: 54px;
  color: #ffffff;
}

.all_info {
  margin-top: 20px;
}

.all_info .info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_info .info_container img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.all_info .info_container a {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 300;
}

.all_info .info_container a:hover {
  color: #adadb1;
}

.all_info .info_container p {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 300;
}

#diplomas {
  font-family: var(--second_font);
  font-size: 40px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-top: -9px;
}

.all_cartificates {
  text-align: center;
}

.all_cartificates .certificate_container {
  display: inline-block;
  margin-top: 20px;
}

.all_cartificates .certificate_container .certificate_image {
  max-width: 314px;
}

.all_cartificates .certificate_container .certificate_image img {
  width: 100%;
  height: auto;
}

.all_cartificates .certificate_container .certificate_name {
  text-align: center;
}

.all_cartificates .certificate_container .certificate_name p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.margins {
  margin-left: 24px;
  margin-right: 24px;
}

#logo_description_section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 16px 22px 0px rgba(0, 0, 0, 0.4);
  background: radial-gradient(circle at top center, #3d3e42 10%, #18181a 78%);
  padding: 30px;
}

#logo_description_section .logo_description_container .logo_description_text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

#logo_description_section .logo_description_container .logo_description_text_container .logo_description_text {
  text-align: left;
}

#logo_description_section .logo_description_container .logo_description_text_container .logo_description_text h1 {
  font-family: var(--second_font);
  font-size: 34px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

#logo_description_section .logo_description_container .logo_description_text_container .logo_description_text p {
  letter-spacing: 1.5px;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.4;
}

#logo_description_section .logo_description_container .logo_description_text_container .logo_description_text p ion-icon {
  vertical-align: bottom;
  color: #ffffff;
  font-size: 6px;
  padding-right: 6px;
}

#logo_description_section .logo_description_container .logo_description_text_container .logo_description_text p .hydrated {
  visibility: inherit;
  margin-bottom: 6px;
}

#logo_description_section .logo_description_container .logo_description_text_container .logo_description_text p .myskills {
  letter-spacing: 1.5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
}

#logo_description_section .logo_description_container .logo_description_img_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

#logo_description_section .logo_description_container .logo_description_img_container .logo_description_img #myphoto {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}

footer {
  margin-top: 40px;
}

footer .social_media {
  width: 260px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social_media a img {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 890px) {
  #logo_description_section {
    padding: 10px 30px 30px;
    height: 100%;
  }
  #logo_description_section .logo_description_container .logo_description_text_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 250px;
    height: 100%;
  }
  #logo_description_section .logo_description_container .logo_description_text_container .logo_description_text {
    padding: 0px 20px 10px;
    text-align: left;
  }
  #logo_description_section .logo_description_container .logo_description_text_container .logo_description_text h1 {
    font-family: var(--second_font);
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
  #logo_description_section .logo_description_container .logo_description_text_container .logo_description_text p {
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.4;
  }
  #logo_description_section .logo_description_container .logo_description_text_container .logo_description_text p .myskills {
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
  }
  #logo_description_section .logo_description_container .logo_description_img_container .logo_description_img {
    padding: 20px 20px 20px 10px;
  }
}

/* MEDIA SCREEN */
@media screen and (max-width: 375px) {
  header {
    margin-top: 50px;
  }
  header .my_title {
    padding-left: 2px;
  }
  header .my_title p {
    font-size: 15.8px;
    letter-spacing: 0.8px;
    margin-bottom: 3px;
    font-weight: 100;
  }
  header .my_name h1 {
    font-size: 41px;
    letter-spacing: 2px;
  }
  header .my_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 0;
    padding-left: 2px;
    margin-top: 5px;
  }
  header .my_menu a {
    margin-left: 0px;
    margin-right: 16px;
    font-weight: 100;
    font-size: 15px;
  }
  .subheader {
    margin-top: 60px;
  }
  .subheader .subheader_left p {
    font-size: 18px;
  }
  .subheader .subheader_left h2 {
    font-size: 32px;
    margin-top: -5px;
  }
  .subheader .subheader_right img {
    width: 46px;
    height: 46px;
  }
  #int_project_container #int_project {
    padding: 20px;
  }
  #int_project_container #int_project .int_project_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #int_project_container #int_project .int_project_header .my_logo img {
    width: 24px;
    height: 24px;
  }
  #int_project_container #int_project .int_project_header .project_nav small a {
    font-size: 13px;
    margin-left: 18px;
  }
  #int_project_container #int_project .int_project_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #int_project_container #int_project .int_project_main .main_gif {
    margin-right: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #int_project_container #int_project .int_project_main .main_gif #int_gif {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  #int_project_container #int_project .int_project_main .main_description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #int_project_container #int_project .int_project_main .main_description #int_project_title {
    margin-bottom: 5px;
  }
  #int_project_container #int_project .int_project_main .main_description #int_project_title .title {
    font-size: 3rem;
  }
  #int_project_container #int_project .int_project_main .main_description #int_project_text p {
    letter-spacing: 0.4px;
    font-size: 13px;
  }
  #int_project_container #int_project #int_project_footer {
    padding: 18px 0 0;
  }
  #e_com_project_container #e_com_project {
    padding: 20px;
  }
  #e_com_project_container #e_com_project .e_com_project_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #e_com_project_container #e_com_project .e_com_project_header .my_logo img {
    width: 24px;
    height: 24px;
  }
  #e_com_project_container #e_com_project .e_com_project_header .project_nav small a {
    font-size: 13px;
    margin-left: 18px;
  }
  #e_com_project_container #e_com_project .e_com_project_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #e_com_project_container #e_com_project .e_com_project_main .main_gif {
    margin-right: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #e_com_project_container #e_com_project .e_com_project_main .main_gif #e_com_gif {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  #e_com_project_container #e_com_project .e_com_project_main .main_description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #e_com_project_container #e_com_project .e_com_project_main .main_description #e_com_project_title {
    margin-bottom: 5px;
  }
  #e_com_project_container #e_com_project .e_com_project_main .main_description #e_com_project_title .title {
    font-size: 3rem;
  }
  #e_com_project_container #e_com_project .e_com_project_main .main_description #e_com_project_text p {
    letter-spacing: 0.4px;
    font-size: 13px;
  }
  #e_com_project_container #e_com_project #e_com_project_footer {
    padding: 18px 0 0;
  }
  #profi_project_container #profi_project {
    padding: 20px;
  }
  #profi_project_container #profi_project .profi_project_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #profi_project_container #profi_project .profi_project_header .my_logo img {
    width: 24px;
    height: 24px;
  }
  #profi_project_container #profi_project .profi_project_header .project_nav small a {
    font-size: 13px;
    margin-left: 18px;
  }
  #profi_project_container #profi_project .profi_project_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #profi_project_container #profi_project .profi_project_main .main_gif {
    margin-right: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #profi_project_container #profi_project .profi_project_main .main_gif #profi_gif {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  #profi_project_container #profi_project .profi_project_main .main_description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #profi_project_container #profi_project .profi_project_main .main_description #profi_project_title {
    margin-bottom: 5px;
  }
  #profi_project_container #profi_project .profi_project_main .main_description #profi_project_title .title {
    font-size: 3rem;
  }
  #profi_project_container #profi_project .profi_project_main .main_description #profi_project_text p {
    letter-spacing: 0.4px;
    font-size: 13px;
  }
  #profi_project_container #profi_project #profi_project_footer {
    padding: 18px 0 0;
  }
  .margins {
    margin-left: 0px;
    margin-right: 0px;
  }
  #logo_description_section {
    padding: 10px;
    height: 100%;
  }
  #logo_description_section .logo_description_container .logo_description_text_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 250px;
    height: 100%;
  }
  #logo_description_section .logo_description_container .logo_description_text_container .logo_description_text {
    padding: 0px 20px 10px;
    text-align: left;
  }
  #logo_description_section .logo_description_container .logo_description_text_container .logo_description_text h1 {
    font-family: var(--second_font);
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
  #logo_description_section .logo_description_container .logo_description_text_container .logo_description_text p {
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.4;
  }
  #logo_description_section .logo_description_container .logo_description_text_container .logo_description_text p .myskills {
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
  }
  #logo_description_section .logo_description_container .logo_description_img_container .logo_description_img {
    padding: 20px 20px 20px 10px;
  }
}

@media screen and (max-width: 1038px) {
  .margins {
    margin-left: 0px;
    margin-right: 0px;
  }
  .certificate_container {
    padding-top: 20px;
  }
  .certificate_container .certificate_image {
    margin: 0px 20px;
  }
  .certificate_container .certificate_image img {
    width: 100%;
    height: auto;
  }
}

/* Animation */
@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Spinning logo */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */