{% load static %}
<!-- Footer -->
<footer>
    <div class="social_media">
            <a href="https://www.linkedin.com/in/denys-krychevskyi/" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt=""></a>
            <a href="https://www.facebook.com/denys.krychevskyi" target="_blank"><img src="{% static 'images/facebook.svg' %}" alt=""></a>
            <a href="https://github.com/Denys1004" target="_blank"><img src="{% static 'images/github.svg' %}" alt=""></a>
            <a href="/about/"><img src="{% static 'images/mail.svg' %}" alt=""></a>
            <a href="/about/"><img src="{% static 'images/cellphone.svg' %}" alt=""></a>
    </div>
</footer>