{% load static %}
<!-- Header -->
<header>
    <div class="my_title">
        <p>full stack developer</p>
    </div>
    <div class="my_name">
        <h1>DENYS KRYCHEVSKYI</h1>
    </div>
    <div class="my_menu">
        <a href="/" id="{{ projects_page }}">projects</a>
        <a href="/certificates/" id="{{ certificates_page }}">certificates</a>
        <a href="/about/" id="{{ about_page }}">contacts</a>
        <a href="../static/images/resume_denys_krychevskyi.pdf" target="_blank">resume</a>
    </div>
</header>